<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
       <layout class="org.apache.log4j.PatternLayout"> 
          <param name="ConversionPattern" value="%d %-5p %c.%M:%L - %m%n"/> 
       </layout> 
    </appender>

    <appender name="FILE" class="org.apache.log4j.FileAppender">
       <param name="File" value="core_log4j.log" />
       <layout class="org.apache.log4j.PatternLayout"> 
          <param name="ConversionPattern" value="%d %-5p %c.%M:%L - %m%n"/> 
       </layout> 
    </appender>

    <appender name="MAIL" class="org.apache.log4j.net.SMTPAppender">  
        <param name="threshold" value="debug" />  
        <!-- 日志的错误级别  
        <param name="threshold" value="fatal"/>  
        -->  
        
        <!-- 缓存文件大小，日志达到512K时发送Email -->  
        <param name="BufferSize" value="512" /><!-- 单位K -->  
        <param name="From" value="ichimaruGin@163.com" />  
        <param name="SMTPHost" value="ichimaruGin.163.com" />  
        <param name="Subject" value="juyee-log4jMessage" />  
        <param name="To" value="test@163.com" />  
        <param name="SMTPUsername" value="test" />  
        <param name="SMTPPassword" value="test" />  
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="%d %-5p %c.%M:%L - %m%n"/> 
        </layout>  
    </appender> 
     
    <!-- specify the logging level for loggers from other libraries -->
    <!-- 
    <logger name="log4jdbc.debug">
        <level value="FATEL" />
    </logger>
     
    <logger name="jdbc.connection">
        <level value="FATEL" />
    </logger>

    <logger name="jdbc.audit">
        <level value="FATEL" />
    </logger>
	
    <logger name="jdbc.sqltiming">
        <level value="FATEL" />
    </logger>
  	
  	<logger name="jdbc.sqlonly">
 		<level value="FATEL" />
 	</logger>
 -->
    
   <!-- for all other loggers log only debug and above log messages -->
     <root>
        <priority value="info"/> 
        <appender-ref ref="STDOUT" /> 
        <appender-ref ref="FILE" />
     </root> 
    
</log4j:configuration> 
